{% extends 'layout.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="card">
            <div class="card-header">{{ request.title }}</div>
            <div class="card-body">
                <form action="{% url 'client:registration' %}" method="post">
                    {{ form | crispy }}
                    <button class="btn btn-primary">{{ request.title }}</button>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}